MICROSOFTAPPID=d3850def-5bd9-4321-98b1-cccdd0693736 
MICROSOFTAPPPASSWORD=3f48Q~WSEwFrE-kZyWoHAdAm1u3EjIjm.fJQMbOL


QNAKNOWLEDGEBASEID=5203abe0-a411-4a86-a45c-4d179765c626
QNAAUTHKEY=968c63f7-b85d-4bcb-a194-32c79f57f84c
QNAENDPOINTHOSTNAME=https://qnamaker-for-bot.azurewebsites.net/qnamaker

LUISAPPID=bf4d930d-ebbe-42f6-b340-38d7a38f0170
LUISAPIKEY=cbbe23761df846c286065e50428407f1
LUISAPIHOSTNAME=https://languageunderstandingserviceforbot-authoring.cognitiveservices.azure.com/

SCHEDULERENDPOINT=https://contonsosheduler-appservice.azurewebsites.net

